<table id="positions-table" class="table table-striped table-bordered" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <% positions.each do |position| %>
    <tr>
      <td><%= position.name %></td>
      <td>
        <%= link_to '', edit_admin_position_path(position), remote: true,
          class: 'btn btn-primary btn-sm glyphicon glyphicon-pencil' %>
        <%= link_to '', admin_position_delete_path(position), remote: true,
          class: 'btn btn-danger btn-sm glyphicon glyphicon-trash' %>
      </td>
    </tr>
  <% end %>
</table>

<script type="text/javascript">
  $(document).ready(function() {
    $('#positions-table').DataTable({
      retrieve: true,
      iDisplayLength: 50,
      columns: [
        { type: "string" },
        { orderable: false }
      ]
    });
  });
</script>
