<h1>Profiles</h1>

<% @users.in_groups_of(6) do |group| %>
  <div class="row">
    <% group.each do |user| %>
      <% if user %>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <%= render 'profile', user: user %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

