<div>
  <div class="video-box text-center">
    <div>
      <%= image_tag(video.thumbnail, class: 'img-responsive img-rounded') %>
    </div>
    <div class="caption">
      <h4 class="title"><%= video.name %></h4>
      <p class="title"><%= video.presenter %></p>
    </div>
  </div>
</div>
