<!-- Landing Header -->
<header class="landing">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= image_tag('landing.png', alt: 'Landing', class: 'img-responsive') %>
        <div class="intro-text">
          <span class="title">Welcome to GAP <strong>Share!</strong></span>
          <span class="description">
            Here you will find information and resources to improve your skills and knowledge,
            as well as a portal to share what you know and have learned to others.
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
