
body {
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #333;
}

header.nav-header {
  background-color: #FFF;
}

header.nav-header .logo {
  border: 0px;
  height: 100%;
}

header.nav-header .logo-text {
  font-weight: 500;
}

header.nav-header .logo-red {
  color: $red;
}

header.nav-header .line {
  background: url('bg_gradient.png');
  height: 3px;
  margin: 0px;
}

footer.footer {
  border-top: 2px solid #FFF;
  height: 100px;
  background-color: #333;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
