// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-card {
  width: 100%;
  height: 200px;
  text-align: center;
  padding: 0px;
}

img.profile-image {
  height: 100px;
  width: 100px;
}

.profile-card-content {
  line-height: 22px;
}

.profile-card-content > span {
  vertical-align: middle;
  display: inline-block;
}


.profile .profile-data {
  margin-left: 20px;
}
