.remove_padding {
  padding: 0;
}
.remove_margin_top {
  margin-top: 0;
}
.remove_border_radius_nav {
  border-radius: 0;
}

.screencasts {
  .video-box {
    border: 1px solid #CCC;
    margin: 60px 20px 20px 20px;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;

    .title { 
      color: $red-dark;
    }

    filter: brightness(50%);
    &:hover { filter: brightness(100%); }

    .img-responsive {
      display: inline-block;
    }
  }
  @media only screen and (max-width: 767px) {
    .screencasts_button_bar { display: block; }
    .top { display: none; }
  }
  
  .last_video {
    .title { 
      display: block;
      font-weight: 300;
      font-size: 25px;
      color: $red-dark; 
    }

    background-color: $gray;

    img {
      width: 400px;
      height: 210px;
      display:block;
      margin: auto;
    }

    .last_video_box {
      margin: 5px 0 5px 0;
    }
  }
}
