// General
a {
  color: $link-color;
  text-decoration: none;
  outline: 0 none;
  &:focus, &:hover, &:active {
    color: $link-hover;
    text-decoration: none;
    outline: 0 none;
  }
}

p {
  line-height: 22px;
  color: $text-color;
}

body {
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 300;
}

b, strong {
  font-weight: 400;
}
