<%= render 'admin/header', selected: 'practices' %>

<h2>
  <span>Practices</span>
  <span>
    <%= link_to new_admin_practice_path, remote: true, class: 'btn btn-primary pull-right' do %>
      <span class="glyphicon glyphicon-plus"></span> New Practice
    <% end %>
  </span>
</h2>

<div id="practices-content">
  <%= render 'index', practices: @all_entity_objects %>
</div>

<!-- Modal -->
<div class="modal fade" id="practices-modal" role="dialog">
  <div class="modal-dialog modal-md">
    <div id="practices-modal-content" class="modal-content"></div>
  </div>
</div>
