<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Edit Video</h4>
</div>
<div>
  <%= render 'form', video: video, practices: practices, users: users %>
</div>
