<div class="member-box">
  <div class="pull-left">
    <%= image_tag(user.profile_icon, class: 'profile-icon img-circle') %>
  </div>
  <div class="pull-left">
    <div><%= user.full_name %></div>
    <div><%= user.position_level %></div>
  </div>
</div>
