<h1>Practices</h1>

<% @practices.in_groups_of(6) do |group| %>
  <div class="row">
    <% group.each do |practice| %>
      <% if practice %>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <%= link_to directory_practice_path(practice) do %>
            <%= render 'practice', practice: practice %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
